<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing URL Detector</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Phishing URL Detector</h1>
    </header>
    <div>
    <nav style="align-content: end;">
        <div>
        <a href="/">Home</a>
        <a href="/phishing">URL Verification</a>
        <a href="/about">About Phishing</a>
        </div>
    </nav>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <h1 style="color: wheat;align-self: center;font-family: 'Times New Roman', Times, serif;font-size: 81px;">Welcome to Detective-Phish</h1>
    <div class="container2">
        <br>
        <h2>Want to Check if a URL is Safe or Suspicious?</h2>
        <button class="button1" id="button1" role="button"  onclick="window.open('/phishing')">Check</button>
    </div> 
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <footer>
        <p>&copy; 2024 Phishing URL Detector. All rights reserved.</p>
    </footer>
</body>
</html>
